# Ignore the following files:
tmp/
private.py
app.db
bower_components/
*.py[cod]
cctbx_build/
cctbx/
cctbx*
flask/
data-dev.sqlite

*.rdb
*.pdb
*.ccp4
*.map
!test_model.pdb
!test_map.ccp4

data/
logs/


.DS_Store

node_modules