# Ignore the following files:
tmp/
private.py
app.db
bower_components/
*.py[cod]
cctbx_build/
cctbx/
cctbx*
flask/
data-dev.sqlite

*.rdb
*.pdb
*.ccp4

!test_model.pdb
!test_map.ccp4

data/

.DS_Store