<h1>EMRinger Results Summary</h1>
<h2> Statistics for {{pdbfile}} and {{mapfile}}</h2>
<div class="table-responsive">
<table class="table table-striped">
<tbody>
<tr>
  <td><b>EMRinger Score:</b></td>
  <td>{{ "%.5f" | format(statistics["EMRinger Score"])}}</td>
</tr>
<tr>
  <td><b>Total Residues Scanned: </b></td>
  <td>{{ statistics["Total Residues Scanned"]}}</td>
</tr>
<tr>
  <td><b>Optimal Threshold: </b></td> <td>{{ "%.5f" | format(statistics["Optimal Threshold"])}}</td>
  </tr>
  <tr>
  <td><b>Rotamer Ratio at Optimal Threshold:</b></td><td> {{ "%.5f" | format(statistics["Rotamer Ratio at Optimal Threshold"])}}</td>
</tr>
</tbody>
</table>
</div>