{% extends "bootstrap/base.html" %}

{% block title %}EMRinger{% endblock %}

{% block head %}
{{ super() }}
<meta charset="utf-8">
<link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/syntax.css') }}">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">EMRinger</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                  <li><a href="/" alt="home">home</a></li>
                  <li><a href="/about" alt="about">about</a></li>
                  <li><a href="/contact" alt="contact">contact</a></li>
                  <li><a href="/">log out</a></li>
              <!-- <li><a href="https://sites.google.com/a/fraserlab.com/ucsf-private/" alt="Lab Private Area">private</a></li> -->
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>
{% endblock %}

{% block content %}
{{super()}}
<div class="container">
	{% block page_content %}{% endblock %}
</div>
<hr>
<div id="footer footer-fixed-bottom">
  <div class="container">
    <p class="text-muted credit"> EMRinger is under active development in the <a href="http://fraserlab.com">Fraser Lab at UCSF</a>. <!-- This website is open-source and available on <a href="https://github.com/fraser-lab/fraser-lab.github.io">Github</a>. --></p>
  </div>
</div>
{% endblock %}

